{{define "NewPost"}}


<!DOCTYPE html>
<html lang="en">

<head>
    {{template "@Head" . }}

    <title>new post</title>
    <link rel="stylesheet" href="/public/styles/main.css">
</head>

<body>
    {{template "@SignModal" . }}
    {{template "@HeaderNav" . }}

    <div class="container p-md-3 mt-4">
        <div class="container p-md-3">
            <form id="new-post" class="row g-3">
                <div class="row m-sm-2">
                    <input type="text" name="title" class="form-control" />
                    <label class="form-label" for="title">Title</label>
                </div>
                <div class="row m-sm-2">
                    <input type="url" name="mineature" class="form-control" />
                    <label class="form-label" for="mineature">Mineature</label>
                </div>
                <div class="row m-sm-2">
                    <input type="text" name="introduction" class="form-control" />
                    <label class="form-label" for="introduction">Introduction</label>
                </div>
                <div class="row m-sm-2">
                    <input type="file" name="content" class="form-control" />
                    <label class="form-label" for="content">Content</label>
                </div>
                <div class="row m-sm-2">
                    <input type="text" name="topic" class="form-control" />
                    <label class="form-label" for="topic">Topic</label>
                </div>
                <div class="row m-sm-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <script src="/public/scripts/main.js" ></script>
    
    <script src="/public/scripts/home.js" type="module"></script>
    <script src="/public/scripts/npost.js" type="module"></script>
</body>

</html>

{{end}}