{{define "NewPost"}}


<!DOCTYPE html>
<html lang="en">

<head>

    {{template "@Head" . }}

    <title>new post</title>

</head>

<body>

    <!--

type ApiPostPublication struct {
	Content      string `json:"content"`
	Title        string `json:"title"`
	Mineature    string `json:"mineature"`
	Topic        string `json:"topic"`
	Introduction string `json:"introduction"`
}
    -->
    <form id="new-post">
        <div class="modal-body">
            <!-- Email input -->
            <div class="form-outline mb-2">
                <input type="text" name="title" class="form-control" />
                <label class="form-label" for="title">Title</label>
            </div>

            <!-- content input -->
            <div class="form-outline mb-2">
                <input type="file" name="content" class="form-control" />
                <label class="form-label" for="content">content</label>
            </div>
            <div class="form-outline mb-2">
                <input type="url" name="mineature" class="form-control" />
                <label class="form-label" for="mineature">mineature</label>
            </div>
            <div class="form-outline mb-2">
                <input type="text" name="topic" class="form-control" />
                <label class="form-label" for="topic">topic</label>
            </div>
            <div class="form-outline mb-2">
                <input type="text" name="introduction" class="form-control" />
                <label class="form-label" for="introduction">introduction</label>
            </div>
        </div>

        <!-- Submit button -->
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">post</button>
        </div>

        <!--<button type="submit" class="btn btn-primary btn-block mb-3">Sign in</button>-->
    </form>

    <script>
        function getData(form) {
            const data = new FormData(form);

            return data;
        }

        document.getElementById("new-post").addEventListener("submit",async function (e) {
            e.preventDefault();

            let data = {};

           await getData(e.target).forEach(

                async (value, key) => {
                    if (key=="content") {

                        data[key] =  await  value.text()
                        return
                    }
                    data[key] = value
                }
            );
            console.log(data)
            await fetch("/new-post", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json',
                },
                body: JSON.stringify(data)
            }).then((resp) => {
                switch (resp.status) {
                    default:
                        console.log(data)
                }
            }).then(r => window.location.reload());
            


        });

    </script>
</body>

</html>

{{end}}